<table class="table table-striped">
  <tr>
    <th>Temperature Range</th>
    <th>Average Number of Rides</th>
    <th>Highest Number of Rides</th>
    <th>Lowest Number of Rides</th>
  </tr>
  <tr>
    <td>0-10</td>
    <td><%= Condition.average_number_of_rides_in_range(0..10) %></td>
    <td><%= Condition.highest_number_of_rides_in_range(0..10) %></td>
    <td><%= Condition.lowest_number_of_rides_in_range(0..10) %></td>
  </tr>
  <tr>
    <td>11-20</td>
    <td><%= Condition.average_number_of_rides_in_range(11..20) %></td>
    <td><%= Condition.highest_number_of_rides_in_range(11..20) %></td>
    <td><%= Condition.lowest_number_of_rides_in_range(11..20) %></td>
  </tr>
  <tr>
    <td>21-30</td>
    <td><%= Condition.average_number_of_rides_in_range(21..30) %></td>
    <td><%= Condition.highest_number_of_rides_in_range(21..30) %></td>
    <td><%= Condition.lowest_number_of_rides_in_range(21..30) %></td>
  </tr>
  <tr>
    <td>31-40</td>
    <td><%= Condition.average_number_of_rides_in_range(31..40) %></td>
    <td><%= Condition.highest_number_of_rides_in_range(31..40) %></td>
    <td><%= Condition.lowest_number_of_rides_in_range(31..40) %></td>
  </tr>
  <tr>
    <td>41-50</td>
    <td><%= Condition.average_number_of_rides_in_range(41..50) %></td>
    <td><%= Condition.highest_number_of_rides_in_range(41..50) %></td>
    <td><%= Condition.lowest_number_of_rides_in_range(41..50) %></td>
  </tr>
  <tr>
    <td>51-60</td>
    <td><%= Condition.average_number_of_rides_in_range(51..60) %></td>
    <td><%= Condition.highest_number_of_rides_in_range(51...60) %></td>
    <td><%= Condition.lowest_number_of_rides_in_range(51..60) %></td>
  </tr>
  <tr>
    <td>61-70</td>
    <td><%= Condition.average_number_of_rides_in_range(61..70) %></td>
    <td><%= Condition.highest_number_of_rides_in_range(61..70) %></td>
    <td><%= Condition.lowest_number_of_rides_in_range(61..70) %></td>
  </tr>
  <tr>
    <td>71-80</td>
    <td><%= Condition.average_number_of_rides_in_range(61..70) %></td>
    <td><%= Condition.highest_number_of_rides_in_range(61..70) %></td>
    <td><%= Condition.lowest_number_of_rides_in_range(61..70) %></td>
  </tr>
  <tr>
    <td>81-90</td>
    <td><%= Condition.average_number_of_rides_in_range(81..90) %></td>
    <td><%= Condition.highest_number_of_rides_in_range(81..90) %></td>
    <td><%= Condition.lowest_number_of_rides_in_range(81..90) %></td>
  </tr>
  <tr>
    <td>91-100</td>
    <td><%= Condition.average_number_of_rides_in_range(91..100) %></td>
    <td><%= Condition.highest_number_of_rides_in_range(91..100) %></td>
    <td><%= Condition.lowest_number_of_rides_in_range(91..100) %></td>
  </tr>

</table>